.place__title {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
}


@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 95%;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    margin: 0 16px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;

  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 80%;
  }
}
