.photo-grid {
  width: 93%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, -webkit-min-content));
  grid-template-columns: repeat(auto-fit, minmax(284px, min-content));
  gap: 15px;
  margin: 0 48px 92px;
  -ms-grid-row-align: center;
      align-self: center;
}


@media screen and (max-width: 1280px) {
  .photo-grid {
    width: 93%;
    grid-template-columns: repeat(auto-fit, minmax(284px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(284px, min-content));
    margin: 0 48px 92px;
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 91%;
    grid-template-columns: repeat(auto-fit, minmax(300px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(300px, min-content));
    margin: 0 48px 92px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(352px, min-content));
    width: 94%;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(332px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(332px, min-content));
    width: 77%;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(288px, min-content));
    width: 88%;
    margin: 0 0 92px;
  }
}
