.photo-grid {
  width: 94%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, -webkit-min-content));
  grid-template-columns: repeat(auto-fit, minmax(284px, min-content));
  gap: 15px;
  margin: 0 0 92px 48px;
}


@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 93%;
    grid-template-columns: repeat(auto-fit, minmax(300px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(300px, min-content));
  }
}



@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(352px, min-content));
    width: 96%;
    margin: 0 0 92px 24px;
  }
}

@media screen and (max-width: 749px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(334px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(334px, min-content));
    width: 55%;
  }
}

/* лучшее что я мог придумать чтобы хоть как-то сгладить переход*/

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(315px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(315px, min-content));
    width: 79%;
    margin: 0 48px 92px;
  }
}

@media screen and (max-width: 375px) {
  .photo-grid {
    width: 75%;
    margin: 0 24px 64px;
    grid-template-columns: repeat(auto-fit, minmax(300px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(300px, min-content));
  }
}


@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(288px, -webkit-min-content));
    grid-template-columns: repeat(auto-fit, minmax(288px, min-content));
    width: 90%;
    margin: 0 16px 64px;
  }
}
