.places {
  display: flex;
  flex-direction: column;
  margin: 0 148px;
  width: 80%;
}

@media screen and (max-width: 1280px) and (min-width: 1280px){
  .places {
    display: flex;
    flex-direction: column;
    margin: 0 148px;
    width: 80%;
  }
}

@media screen and (max-width: 1024px){
  .places {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
  }
}


@media screen and (max-width: 768px){
  .places {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
  }
}


@media screen and (max-width: 320px){
  .places {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
}
