.cover__subtitle {
  list-style-type: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  max-height: 100px;
  width: 50%;

}


@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 55%;
  }
}


@media screen and (max-width: 425px) {
  .cover__subtitle {
    width: 120%;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 375px) {
  .cover__subtitle {
    width: 90%;
  }
}

