.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #FFFFFF;
}

.place__link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  opacity: .85;
}
