.place__paragraph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}


@media screen and (max-width: 425px) {
  .place__paragraph-container{
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph-container{
    margin: 0 16px;
  }
}
