.footer__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 16px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;

}



@media screen and (max-width: 716px) {
  .footer__link {
    margin-right: 3px;
  }
}

@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 32px;
  }
}


