.footer__link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 16px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #FFFFFF;
}

.footer__link:hover {
  opacity: .8;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}


@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin: 0 32px 32px;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {

    margin: 0 0 32px;
  }
}
