.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 716px) {
  .footer__links {
    width: 90%;
  }
}


@media screen and (max-width: 494px) {
  .footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 20%;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin: 0;
  }
}





