.footer__links {
  display: flex;
  width: 40%;
}



@media screen and (max-width: 690px){
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 40%;
  }
}

@media screen and (max-width: 320px){
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
  }
}
