.place__paragraph {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
  padding-bottom: 24px;
}


@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }
}
