.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    margin: 0 0 0 9px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin: 0 0 0 32px;
  }
}
