@font-face {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: url(../vendor//fonts/Inter-Regular.woff2) format(woff2);
}

@font-face {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url(../vendor//fonts/Inter-Black.woff2) format(woff2);
}

@font-face {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  src: url(../vendor/fonts/Inter-Medium.woff2) format(woff2);
}

