.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  margin: 92px 0 92px 148px;
}


@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px 0 92px 48px;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 94%;
    margin: 88px 16px;
  }
}


@media screen and (max-width: 320px) {
  .intro {
    width: 91%;
    margin: 64px 16px;
  }
}
