.lead__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
  width: 55%;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}


@media screen and (max-width: 1024px) {
  .lead__subtitle {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}


