.lead__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  margin: 8px 0 0;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  color: #FFFFFF;
}


@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 24px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
