.cover__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  color: #FFFFFF;
}


@media screen and (max-width: 1280px) {
  .cover__title {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 30%;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    width: 100%;
    margin: 0 0 16px;
  }
}


@media screen and (max-width: 320px) {
  .cover__title {
    width: 80%;
    margin: 0 0 16px;
  }
}
