.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
  padding-bottom: 24px;
}

@media screen and (max-width: 1280px) and (min-width: 1280px){
  .place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 1024px){
  .place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    padding-bottom: 24px;
  }
}


@media screen and (max-width: 768px){
  .place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    padding-bottom: 24px;
  }
}


@media screen and (max-width: 320px){
  .place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 24px;
  }
}


