.footer {
  display: flex;
  width: 92%;
  margin: 0 48px;
  justify-content: space-between;
  align-items: center;
  background: #2A2C2F;
}

@media screen and (max-width: 1280px) and (min-width: 1280px){
  .footer {
    display: flex;
    width: 92%;
    margin: 0 48px;
    justify-content: space-between;
    align-items: center;
    background: #2A2C2F;
  }
}

@media screen and (max-width: 1024px){
  .footer {
    display: flex;
    width: 90%;
    margin: 0 48px;
    justify-content: space-between;
    align-items: center;
    background: #2A2C2F;
  }
}


@media screen and (max-width: 768px){
  .footer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background: #2A2C2F;
  }
}

@media screen and (max-width: 690px){
  .footer {
    display: flex;
    width: 30%;
    margin: 0 16px;
    background: #2A2C2F;
    flex-direction: column;
    align-self: baseline;
  }
}

@media screen and (max-width: 320px){
  .footer {
    display: flex;
    width: 60%;
    margin: 0 16px;
    background: #2A2C2F;
    flex-wrap: wrap;
    align-self: baseline;
  }
}
