.place__image {
  width: 100%;
}

@media screen and (max-width: 1280px) and (min-width: 1280px){
  .place__image {
    width: 100%;
  }
}

@media screen and (max-width: 1024px){
  .place__image {
    max-width: 440px;
  }
}


@media screen and (max-width: 768px){
  .place__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 451px){
  .place__image {
    width: 400px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 400px){
  .place__image {
    width: 350px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 350px){
  .place__image {
    width: 320px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px){
  .place__image {
    width: 320px;
    object-fit: cover;
    margin-bottom: 32px;
  }
}
