.intro__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;  /* identical to box height, or 107% */
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
}


@media screen and (max-width: 1024px) {
  .intro__title {
    width: 67%;
  }
}

@media screen and (max-width: 1024px) {
  .intro__title {
    width: 100%;
  }
}

@media screen and (max-width: 768px){
  .intro__title {
    width: 98%;
  }

}


@media screen and (max-width: 320px){
  .intro__title {
    width: 85%;
    line-height: 35px;
    font-size: 32px;
  }

}



